@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .home {
    background-image: url("../assets/cyanBG.jpg");
  }
  .experience {
    background-image: url("../assets/pinkBG.jpg");
  }
  .about{
    background-image: url("../assets/pinkBG.jpg");
  }
  .link {
    @apply hover:text-yellowcolor  transition duration-200 hover:underline;
  }
}
